.slideshow {
  position: relative;
  aspect-ratio: 3/1;

  &__nav {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 20px;
    color: white;
  }

  &__arrow {
    font-size: 36px;
  }

  &__pagination {
    align-self: flex-end;
  }

  &__image {
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 25px;
  }
}
