$border-radius: 5px;

.collapse {
  width: 100%;
  border-radius: $border-radius;
  justify-self: center;

  &__title {
    --collapse-font-size: 24px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-main, #ff6060);
    color: var(--color-light, white);
    width: 100%;
    padding: 10px 20px 10px 15px;
    border-radius: $border-radius;
    border: none;
    outline: none;
    font-family: inherit;
    font-size: var(--collapse-font-size);
    font-weight: 700;
    cursor: pointer;

    &--open {
      border-bottom-left-radius: unset;
      border-bottom-right-radius: unset;
    }
  }

  &__content {
    background-color: var(--color-grey1, #f6f6f6);
    padding: 15px;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    max-height: 0;
    overflow: hidden;
    transition: max-height 300ms, padding-block 300ms ease;
    &--closed {
      max-height: 0;
      padding-block: 0;
    }
    &--open {
      max-height: 500px;
    }
  }
}

@media screen and (max-width: 770px) {
  .collapse {
    &__title {
      font-size: 19px;
    }
    &__content {
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 480px) {
  .collapse {
    &__title {
      font-size: 14px;
    }
    &__content {
      font-size: 12px;
    }
  }
}
