$site-padding-inline: 45px;
$color-dark: black;

.header {
  padding-inline: var(--site-padding-inline, $site-padding-inline);
  padding-top: var(--site-padding-inline, $site-padding-inline);
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    height: 70px;
  }

  .nav {
    &__link {
      font-size: 24px;
      padding-left: 35px;
      color: var(--color-dark, $color-dark);

      &--currentpage {
        text-decoration: underline;
      }
    }
  }
}

@media only screen and (max-width: 770px) {
  .header {
    &__logo {
      height: 55px;
    }
    .nav {
      &__link {
        font-size: 18px;
        padding-left: 25px;
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .header {
    &__logo {
      height: 40px;
    }
    .nav {
      &__link {
        font-size: 12px;
        padding-left: 15px;
        text-transform: uppercase;
      }
    }
  }
}
