/* VARIABLES */
:root {
  --color-main: #ff6060;
  --color-light: #ffffff;
  --color-grey1: #f6f6f6;
  --color-grey2: #e3e3e3;
  --color-grey3: #c4c4c4;
  --color-dark: #000000;

  --site-gap: 45px;
  --site-width: calc(1240px + var(--site-gap));
  --site-font-size: 18px;
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Montserrat Italic";
  src: url("./assets/fonts/Montserrat-Italic-VariableFont_wght.ttf");
}

/* prettier-ignore */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: var(--site-font-size);
  line-height: 1.6;
  color: var(--color-dark);
  background-color: var(--color-light);
}

main {
  max-width: var(--site-width);
  margin: 0 auto;
  padding: var(--site-gap);
}

.page {
  display: grid;
  gap: var(--site-gap);
}

.About .collapse {
  width: 80%;
}

.Logement {
  --site-gap: 30px;

  &__infos {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: var(--site-gap);
  }

  &__collapses {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--site-gap);
  }
}

.Error404 {
  min-height: 60vh;
  align-content: space-evenly;
  justify-content: center;
  text-align: center;
  color: var(--color-main);
  font-weight: 500;

  &__404 {
    font-weight: 700;
    font-size: 280px;
    line-height: 0.8;
  }

  &__title {
    font-size: 36px;
  }

  &__link {
    text-decoration: underline;
    &:visited {
      color: var(--color-dark);
    }
  }
}

@media screen and (max-width: 770px) {
  :root {
    --site-gap: 30px;
  }

  .About .collapse {
    width: 100%;
  }

  .Logement {
    &__infos {
      grid-template-columns: 1fr;
    }
    &__collapses {
      grid-template-columns: 1fr;
    }
  }

  .Error404 {
    &__404 {
      font-size: 185px;
    }
    &__title {
      font-size: 27px;
    }
    &__link {
      font-size: 16px;
    }
  }
}

@media screen and (max-width: 480px) {
  :root {
    --site-gap: 20px;
  }

  .Logement {
    --site-gap: 15px;
    --site-font-size: 14px;
  }

  .Error404 {
    &__404 {
      font-size: 90px;
    }

    &__title {
      font-size: inherit;
    }

    &__link {
      font-size: 14px;
    }
  }
}
